PROJECT_NAME="Digital Hospital - Core Service"
VERSION="0.1.0"
ENVIRONMENT=development
ROOT_PATH="/api/core"
CORS_ORIGINS='["*"]'

# PostgreSQL
# Example: postgresql+asyncpg://<user>:<password>@<host>:5432/<database>
POSTGRES_URL=postgresql+asyncpg://<user>:<password>@<host>:5432/<database>

# Service URLs
SERVICE_LOGGER_URL=http://localhost:8092