PROJECT_NAME="Digital Hospital - Core Service"
VERSION="0.1.0"
ENVIRONMENT=development
POSTGRES_URL=postgresql+asyncpg://user:password@localhost:5432/dh_hospital
SERVICE_LOGGER_TRACER_URL=http://localhost:8010
