[Unit]
Description=DH Core — People Service
After=network.target

[Service]
User=m4ck-y
WorkingDirectory=/home/m4ck-y/.me/dh/dh_core

Environment="PYTHONUNBUFFERED=1"
Environment="ROOT_PATH=/api/core"

ExecStart=/home/m4ck-y/.local/bin/uv run uvicorn app.main:app --host 0.0.0.0 --port 8083

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target